<div class="left-menu">
    <div class="user">
        <div class="user__name">
            @User.Identity.Name
        </div>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input class="btn btn-outline-primary" type="submit" value="Выход" />
        </form>
    </div>
    <div class="services">
        <h3>Услуги:</h3>
        
        <div class="service">
            <a class="btn btn-link" asp-controller="Ticket" asp-action="Receipt" >Квитанции</a>
            <a class="btn btn-link" asp-controller="Ticket" asp-action="Reminder">Упоминание</a>
            <a class="btn btn-link" href="#">Блокнот</a>
        </div>
    </div>
</div>